// Шрифты
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


// Обнуление
* { margin: 0; padding: 0; }


// Цвета
@basicColor-1: #5356ad;
@basicColor-2: #999ede;
@extraColor-1: #9297e0;
@extraColor-2: #9da3e8;
@extraColor-3: #ff73b3;
@text-color-1: white;
@buttom-color-1: #ff73b3;
@buttom-color-2: white;
@color-shadow-1: #a5487287;
@color-shadow-2: #00000047;


// Общие миксины
.animTime(@val: .3s) { transition-duration: @val; }
.rotateMixin() { transform: rotateX(52deg) rotateY(15deg) rotateZ(-38deg); }
.fontRoboto() { font-family: 'Roboto', sans-serif; }
.form-type-1 {
  width: 100%;
  padding: 25px;
  box-sizing: border-box;

  input { padding: 10px 5px; }
  input[type="submit"] {
    padding: 11px 32px;
    margin: 20px auto 0 auto;
    font-size: 16px;
  }

  &__wrap {
    display: grid; // Использую grid просто из-за великолепного кросбраузерного grid-gap
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }
}
.button-type-1 {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  border: 1px solid @buttom-color-2;
  color: @buttom-color-2;
  background: inherit;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  .animTime();

  &:hover {
    background: @buttom-color-2;
    color: @extraColor-1;
  }
}
.button-type-2 {
  display: block;
  color: white;
  background: @extraColor-3;
  box-shadow: 0 3px 5px @color-shadow-1;
  border: 0;
  padding: 10px 32px;
  cursor: pointer;
  .animTime();

  &:hover { opacity: .6; }
  &:focus { outline: 0; }
}
.d-none { display: none; }

.authPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background: @basicColor-1;
  .fontRoboto;

  &__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;

    position: relative;
    margin: 0 auto;
    max-width: 600px;
    max-height: 320px;
    width: 100%;
    height: 100vh;
    padding: 0 2rem;
    background: @basicColor-2;
    box-shadow: 0 0 5px @color-shadow-2;

    &:before {
      content: "";
      position: absolute;
      left: 25%;
      bottom: 2%;
      width: 300px;
      height: 285px;
      background-color: @extraColor-1;
      .rotateMixin();
      .animTime(.6s);
    }
    &:after {
      content: "";
      position: absolute;
      left: 25%;
      top: 2%;
      width: 320px;
      height: 180px;
      background-color: @extraColor-2;
      .rotateMixin();
      .animTime(.6s);
    }

    &_left {
      &:before {
        left: 15%;
        top: 10%;
      }
      &:after {
        left: 25%;
        top: 10%;
      }
    }
  }

  &__item {
    text-align: center;
    z-index: 1;
  }
  &__formWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-height: 380px;
    max-width: 300px;
    width: 100%;
    background: white;
    z-index: 2;
    box-shadow: 0 0 5px @color-shadow-2;
    .animTime(.6s);

    // Под анимацию
    &_left { transform: translate(-50%); }
    &_right { transform: translate(50%); }
  }

  &__title {
    letter-spacing: 1px;
    font-size: 20px;
    color: @text-color-1;
  }

  &__button {
    .button-type-1;
  }
}


@media screen and (max-width: 700px) {
  .authPage {

    &__box {
      grid-template-columns: 1fr;
      grid-template-rows: .5fr .5fr 1fr;
      overflow-x: hidden;
      max-height: inherit;
      padding: inherit;

      &:before { top: 10%; }
      &_left:before {
        left: 13%;
        top: 15%;
      }
    }
    &__formWrap {
      position: inherit;
      max-width: inherit;
      height: 100%;

      &_left { transform: inherit; }
      &_right { transform: inherit; }
    }
    &__item {
      width: 100%;
      padding: 10px 5px;
    }
  }
}